# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that data scientist use are:

1. Scala
1. Python
1. Julia

Some of the commonly used libraries:

1. Pandas
1. Python
1. NumPy

**Objectives:**

* Python 
* SQL 
* Java

|Data Science Tools|
-----------------
|TensorFlow|,
|RStudio|,
|Apache Spark|,
-------

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add integers.

In [35]:
(3*4)+5.

17.0

This will convert 200 minutes to hours by diving by 60

In [36]:
200/60

3.3333333333333335

## Author

Jade Emma Gage